/* main div */
.allSavedPropMainDiv{
    display : flex;
    padding : 15px;
    flex-direction : column
}

/* head */
.allSavedPropMainDiv .savedPropHead{
    font-size : 22px;
    font-weight : 600;
    margin-bottom : 15px;
    color : #2d3436;
}

/* row item */
.gutter-box {
    padding: 8px 0;
    background: #00a0e9;
}

/* item */
.allSavedPropMainDiv .mainItem{
    display : flex;
    flex-direction : column;
    border : 1px solid #dfe6e9;
    border-radius : 5px;
    padding-bottom : 5px;
}

/* image */
.allSavedPropMainDiv .propCover{
    width : 100%;
    max-height : 150px;
    border-radius : 10px;
    padding-left : 5px;
    padding-right : 5px;
}

/* price */
.allSavedPropMainDiv .PropPrice{
    font-size : 20px;
    font-weight : 700;
    color : #2d3436;
}

/* address */
.allSavedPropMainDiv .savedPropAdd{
    font-size : 16px;
    font-weight : 600;
    color : #636e72;
    padding-left : 5px
}

/* mini text */
.SavedPropMiniText{
    font-size : 15px;
    font-weight : 600;
    color : #e17055
}

/* no saved properties */
.noSavedProp{
    font-size : 18px;
    font-weight : 600;
    color : #d63031;
    text-align: center;
    margin-top : 50px
}